<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>aktcsv</name>
    <displayName><![CDATA[Aktualizacja z CSV]]></displayName>
    <version><![CDATA[3.1]]></version>
    <description><![CDATA[Aktualizuje ceny i stany z pliku .CSV]]></description>
    <author><![CDATA[LPP]]></author>
    <tab><![CDATA[Others]]></tab>
    <confirmUninstall>Chcesz mnie odinstalować?</confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
    <limited_countries></limited_countries>
</module>